@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
	max-width: 100vw; /* Max width is the screen width */
	max-height: 100vh; /* Max height is the screen height */
	overflow: hidden; /* Hide any content that overflows the limits */
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.blink {
	animation: blink 1s infinite;
}

.title-bar {
	font-family: Trebuchet MS;
	background: linear-gradient(
		180deg,
		#0997ff,
		#0053ee 8%,
		#0050ee 40%,
		#06f 88%,
		#06f 93%,
		#005bff 95%,
		#003dd7 96%,
		#003dd7
	);
	padding: 3px 5px 3px 3px;
	border-top: 1px solid #0831d9;
	border-left: 1px solid #0831d9;
	border-right: 1px solid #001ea0;
	border-top-left-radius: 8px;
	border-top-right-radius: 7px;
	text-shadow: 1px 1px #0f1089;
	height: 30px;
	display: grid;
	place-items: 'center';
	align-items: center;
}

.task-bar {
	font-family: Trebuchet MS;
	background: linear-gradient(
		180deg,
		#0997ff,
		#0053ee 8%,
		#0050ee 40%,
		#06f 88%,
		#06f 93%,
		#005bff 95%,
		#003dd7 96%,
		#003dd7
	);
	padding: 0px;
	border-top: 1px solid #3051d4;
	height: 45px;
	display: flex;
	place-items: 'center';
	align-items: center;
}

.window {
	box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9, inset -2px -2px #001ea0, inset 2px 2px #166aee,
		inset -3px -3px #003bda, inset 3px 3px #0855dd;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 0 0 3px;
	-webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
	width: 17px;
}

::-webkit-scrollbar-track {
	background-image: url('./svg/scroll-background.svg');
}

::-webkit-scrollbar-thumb {
	background-position: center;
	background-repeat: no-repeat;
	background-color: #c8d6fb;
	background-size: 7px;
	border: 1px solid white;
	border-radius: 2px;
	box-shadow: inset -3px 0 #bad1fc, inset 1px 1px #b7caf5;
	background-image: url('./svg/scroll-thumb.svg');
}

::-webkit-scrollbar-thumb {
	background-size: 8px;
	background-image: url('./svg/scroll-thumb-horizontal.svg');
}

::-webkit-scrollbar-button:vertical:start {
	height: 17px;
	background-image: url('./svg//scroll-arrow-up.svg');
}

::-webkit-scrollbar-button:vertical:end {
	height: 17px;
	background-image: url('./svg/scroll-arrow-down.svg');
}

::-webkit-scrollbar-button:horizontal:start {
	width: 17px;
	background-image: url('./svg/scroll-arrow-left.svg');
}

::-webkit-scrollbar-button:horizontal:end {
	width: 17px;
	background-image: url('./svg/scroll-arrow-right.svg');
}

div.grid-cols-2 > div:nth-child(2n) {
	background-color: #003bda;
}
